.content-agileits {
  color: #fff;
  width: 95%;
  font-size: 13px;
}
table {
  text-align: center;
  width: 100%;
}
thead {
  border-bottom: 1px solid rgba(255, 255, 255, 0.7);
  line-height: 40px;
}
thead th {
  text-align: center;
  font-size: 14px;
}
tbody {
  text-align: center;
  line-height: 40px;
}
tbody tr {
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
tbody .remark {
  max-width: 260px;
}
tbody .stutas span {
  vertical-align: middle;
  margin-right: 5px;
}
tbody .stutas.success {
  color: #6fff90;
}
tbody .stutas.fail {
  color: #ff936e;
}
tbody .operation a {
  color: #8dcaff;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -ms-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}
tbody .operation a:hover {
  color: #fff;
  text-decoration: none;
}
.pagination > li > a {
  position: relative;
  float: left;
  padding: 6px 12px;
  margin-left: -1px;
  line-height: 1.42857143;
  color: #fff;
  text-decoration: none;
  background-color: rgba(255, 255, 255, 0.2);
  border: 1px solid #ddd;
}
.pagination > li > a:hover {
  background-color: rgba(255, 255, 255, 0.1);
  color: #fff;
}
@media (max-width: 1366px) {
  .content-agileits {
    width: 95%;
  }
}
